<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="../js/script.js"></script>
        <meta charset="utf-8">
        <title>API Practice</title>
    </head>
    <body>
        <h1>Hello!</h1>
        <div class="abilities">
            <h3>Abilities</h3>
        </div>
        <div class="speed">
            <h3>Speed</h3>
        </div>
        <div class="attack">
            <h3>Attack</h3>
        </div>
        <div class="moves">
            <h3>Moves</h3>
        </div>
    </body>
</html>
