<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="../js/script.js"></script>
        <meta charset="utf-8">
        <title>API Practice</title>
    </head>
    <body>
        <h1>Hello!</h1>
        <form class="" action="index.html" method="post">
            <input id="search_term" type="search" placeholder="Search">
        </form>
        <script type="text/javascript">
            function activatePlacesSearch() {
                let input = document.getElementById('search_term');
                let autocomplete = new google.maps.places.Autocomplete(input);
            }
        </script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv2asEHOwHeEb1a5I5mqmljY8cLc8bJwc&libraries=places&callback=activatePlacesSearch"></script>
    </body>
</html>
